---
layout: default
---
<a id="top"></a>

<h1>About Me</h1>

<p style="font-size:18px">
    I am a Research Engineer at the Computational Autonomy and Robotics (CURLY) Lab at the University of Michigan (<a href="https://robotics.umich.edu/" target="_blank">UMich</a>), working at the intersection of robotics, machine learning, and computer vision. My current research, in collaboration with Professor <a href="" target="_blank">Maani Ghaffari</a>, focuses on <b>SLAM</b>, <b>State Estimation</b>, <b>3D Vision</b>, and <b>Perception</b>. I currently lead the development of the autonomy stack for a marine surface vehicle.
</p>

<p style="font-size:18px">
    Previously, as a graduate student in the Robotics Department at UMich, I was a research assistant at the Ford Center for Autonomous Vehicles (FCAV) Lab, working with Professor <a href="https://www.roahmlab.com/ram-personal" target="_blank">Ram Vasudevan</a> and Dr. Elena Shrestha. My research explored model-based <b>reinforcement learning</b> for robot control and <b>multimodal</b> perception for scene understanding. As a graduate student, I also gained significant exposure to <b>motion planning</b> and <b>embedded systems</b>.
</p>

<p style="font-size:18px">
    Before joining UMich, I interned at the Biorobotics Lab at Carnegie Mellon University (<a href="https://www.ri.cmu.edu/" target="_blank">CMU</a>), where I collaborated with <a href="https://www.ri.cmu.edu/ri-faculty/howie-choset/" target="_blank">Dr. Howie Choset</a>, <a href="https://www.ri.cmu.edu/ri-faculty/matthew-j-travers/" target="_blank">Dr. Matthew Travers</a>, and industry partners from <b>Apple</b> on an electronic-waste recycling project. This experience deepened both my technical expertise and my ability to communicate complex ideas while working closely with industry stakeholders.
</p>

<p style="font-size:18px">
    I hold a bachelor's degree in Mechanical Engineering with a minor in Robotics and Automation from the Birla Institute of Technology & Science (<a href="https://www.bits-pilani.ac.in/hyderabad" target="_blank">BITS Pilani</a>), where I developed a strong foundation in classical control of robotic manipulators and learning-based control of UAVs under the mentorship of Professor Arshad Javed.
</p>

<p style="font-size:18px">
    Beyond robotics, I am passionate about applying machine learning and computer vision to diverse fields such as healthcare, and 3D scene reconstruction. I aim to leverage my interdisciplinary expertise to solve complex challenges across various industries.
</p>

<h1>Experience</h1>
{% include experience.html %}

<h1 id="pro">Highlight Projects</h1>
{% include projects.html %}

<!-- Let's keep Publications and Patents adjacent  -->
<h1 id="pub">Publications</h1>
{% include publications.html %}

<h1 id="edu">Education</h1>
{% include education.html %}

<!-- <h1 id="hon">Honors & Awards</h1> -->
<!-- include awards.html -->

<!-- ! make images in zoom class clickable -->
{% include clickable-image.html %}
