---
layout: default
---
<a id="top"></a>

<h1>About Me</h1>

<p style="font-size:18px">
    I am a MS student of Robotics Department at University of Michigan (<a href="https://robotics.umich.edu/" target="_blank">UMich</a>), where I work on learning-based robot control at the ROAHM lab with professor <a href="https://www.roahmlab.com/ram-personal" target="_blank">Ram Vasudevan</a> and Dr. Elena Shrestha. I have also collaborated with <a href="https://www.ri.cmu.edu/ri-faculty/howie-choset/" target="_blank">Dr. Howie Choset</a> 
    and <a href="https://www.ri.cmu.edu/ri-faculty/matthew-j-travers/" target="_blank">Dr. Matthew Travers</a> during my time at the Biorobotics lab at Carnegie Mellon University as an intern.
    Prior to that, I received my bachelor degree from Birla Institute of Technology & Science (<a href="https://mee.sustech.edu.cn/en" target="_blank">BITS Pilani</a>), majoring in Mechanical Engineering, with a minor in Robotics and Automation. Advised by professor <a href="https://www.wzhanglab.site/members/" target="_blank">Arshad Javed</a>, I had a great research experience on classical control of robot manipulators, and learning-based control of UAVs.
</p>


<p style="font-size:18px">
    I am particularly interested in <b>robot learning</b> and <b>scene understanding</b>, and proficient in developing robotic algorithms.
    When I'm not immersed in technology, you can find me playing lawn tennis, and watching movies.
</p>

<h1>Experience</h1>
{% include experience.html %}

<h1 id="pro">Highlight Projects</h1>
{% include projects.html %}

<!-- Let's keep Publications and Patents adjacent  -->
<h1 id="pub">Publications</h1>
{% include publications.html %}
<!-- <h1 id="pat">Patents</h1> -->
{% include patents.html %}

<h1 id="edu">Education</h1>
{% include education.html %}

<!-- <h1 id="hon">Honors & Awards</h1> -->
<!-- include awards.html -->

<!-- ! make images in zoom class clickable -->
{% include clickable-image.html %}
