---
layout: default
---
<a id="top"></a>

<h1>About Me</h1>

<p style="font-size:18px">
    I am an MS student in the Robotics Department at the University of Michigan (<a href="https://robotics.umich.edu/" target="_blank">UMich</a>), with a focus on the intersection of robotics, machine learning, and computer vision. My research at the FCAV lab, under the guidance of Professor <a href="https://www.roahmlab.com/ram-personal" target="_blank">Ram Vasudevan</a> and Dr. Elena Shrestha, has allowed me to explore reinforcement learning for <b>robot control</b> and <b>multimodal</b> perception for <b>scene understanding</b>. My experience spans various domains, including <b>SLAM</b>, <b>state estimation</b>, and <b>motion planning</b>, skills I honed through various projects at UMich.
</p>

<p style="font-size:18px">
    Before joining UMich, I interned at the Biorobotics Lab at Carnegie Mellon University (<a href="https://www.ri.cmu.edu/" target="_blank">CMU</a>), where I collaborated with <a href="https://www.ri.cmu.edu/ri-faculty/howie-choset/" target="_blank">Dr. Howie Choset</a>, <a href="https://www.ri.cmu.edu/ri-faculty/matthew-j-travers/" target="_blank">Dr. Matthew Travers</a>, and industry partners from <b>Apple</b> on an electronic-waste recycling project. This experience deepened both my technical expertise and my ability to communicate complex ideas while working closely with industry stakeholders.
</p>

<p style="font-size:18px">
    My academic journey began at the Birla Institute of Technology & Science (<a href="https://www.bits-pilani.ac.in/hyderabad" target="_blank">BITS Pilani</a>), where I earned a bachelor’s degree in Mechanical Engineering with a minor in Robotics and Automation. Under the mentorship of Professor Arshad Javed, I developed a solid foundation in classical control of robot manipulators and learning-based control of UAVs.
</p>

<p style="font-size:18px">
    My passion extends beyond robotics into machine learning and computer vision applications in diverse fields such as healthcare, visual content generation, and 3D scene reconstruction. I am eager to leverage my interdisciplinary expertise to tackle complex challenges across various industries.
</p>

<h1>Experience</h1>
{% include experience.html %}

<h1 id="pro">Highlight Projects</h1>
{% include projects.html %}

<!-- Let's keep Publications and Patents adjacent  -->
<h1 id="pub">Publications</h1>
{% include publications.html %}

<h1 id="edu">Education</h1>
{% include education.html %}

<!-- <h1 id="hon">Honors & Awards</h1> -->
<!-- include awards.html -->

<!-- ! make images in zoom class clickable -->
{% include clickable-image.html %}
