<table class="award">
    <tbody>
        <tr>
            <td>
                <p class="award">Jun 2022</p>
            </td>
            <td>
                <p class="award">Outstanding Undergraduate Thesis</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="award">May 2022</p>
            </td>
            <td>
                <p class="award">Outstanding Graduates of SUSTech</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="award">Nov 2020 & 2021</p>
            </td>
            <td>
                <p class="award">First Class of the Merit Student Scholarship</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="award">Jan 2021</p>
            </td>
            <td>
                <p class="award">Top Ten Volunteers of SUSTech</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="award">May 2020</p>
            </td>
            <td>
                <p class="award">Outstanding Student Leaders</p>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <p class="award">Nov 2019</p>
            </td>
            <td>
                <p class="award">Second Class of the Merit Student Scholarship</p>
            </td>
        </tr> -->
    </tbody>
</table>
