<table class="experience">
  <tbody>
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>University of Michigan, US</b></font>
        <br>
        Aug 2022 - May 2024, Master of Science in Robotics
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/bits_pilani.png">
      </td>
      <td>
        <font color="black"><b>Birla Institute of Technology & Science Pilani, Hyderabad, India</b></font>
        <br>
        Aug 2017 - Jun 2021, Bachelor of Engineering in Mechanical
      </td>
    </tr>
  </tbody>
</table>
