<table class="experience">
  <tbody>
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>University of Michigan, US</b></font>
        <br>
        Aug 2022 - May 2024, Master of Science in Robotics
      </td>
    </tr>
    <tr>
      <td>
        <img width="50" src="assets/img/sustech_square.png">
      </td>
      <td>
        <font color="black"><b>Southern University of Science and Technology, China</b></font>
        <br>
        Sep 2018 - Jun 2022, Bachelor of Engineering in Robotics
      </td>
    </tr>
  </tbody>
</table>
