<table class="experience">
  <tbody>
    <!-- !UMich -->
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>Research Assistant</b></font>
        <br>
        June 2023 - Present, University of Michigan, Ann Arbor, MI, US
      </td>
    </tr>
    <!-- !CMU -->
    <tr>
      <td>
        <img width="50" src="assets/img/cmu.png">
      </td>
      <td>
        <font color="black"><b>Research Intern</b></font>
        <br>
        May 2021 - May 2022, Carnegie Mellon University, Pittsburgh, Pennsylvania, US
      </td>
    </tr>
    <!-- !IGCAR -->
    <tr>
      <td>
        <img width="50" src="assets/img/igcar.png">
      </td>
      <td>
        <font color="black"><b>Software Engineer Intern on Motion Planning</b></font>
        <br>
        May 2019 - Jul 2019, Indira Gandhi Centre for Atomic Research, Kalpakkam, India
      </td>
    </tr>
  </tbody>
</table>
