<table class="experience">
  <tbody>
    <!-- !UMich -->
    <tr>
      <td>
        <img width="50" src="assets/img/U-M_Logo-Hex.png">
      </td>
      <td>
        <font color="black"><b>Perception & Learning Research Assistant</b></font>
        <br>
        June 2023 - Present, University of Michigan, <br>Ann Arbor, MI, US
      </td>
    </tr>
    <!-- !CMU -->
    <tr>
      <td>
        <img width="50" src="assets/img/cmu.png">
      </td>
      <td>
        <font color="black"><b>RL & Simulation Research Intern</b></font>
        <br>
        May 2021 - May 2022, Carnegie Mellon University, <br>Pittsburgh, PA, US
      </td>
    </tr>
    <!-- !IGCAR -->
    <tr>
      <td>
        <img width="50" src="assets/img/igcar.png">
      </td>
      <td>
        <font color="black"><b>Motion Planning Intern</b></font>
        <br>
        May 2019 - Jul 2019, Indira Gandhi Centre for Atomic Research, <br>Kalpakkam, TN, India
      </td>
    </tr>
  </tbody>
</table>
