
<!-- !Nezha Patent -->
<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Wheeled-Bipedal Robot</b>
    </font>
    <br>
    <font style="font-size:16px">
        [<a href="https://patents.google.com/patent/CN112977666A/en?inventor=%E5%BA%84%E5%AE%87%E4%BC%A6" target="_blank">
            PDF
        </a>]
        [<a href="assets/img/placeholder.jpg" target="_blank">
            View Robot
        </a>]
    </font>
    <br>
    <i>China Patent</i> CN112977666A Jun 2021
    <br>
    W. Zhang, <b>Y. Zhuang</b>, <i>et al</i>.
</p>

<!-- !Surface Vessels Patent -->
<p style="font-size:18px">
    <font color="black">
        <b>Connecting Structure and Multi-Hull Ship</b>
    </font>
    <br>
    <font style="font-size:16px">
        <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/silvery107/auto-docking-vessels?style=plastic&logo=github">
        [<a href="https://github.com/silvery107/auto-docking-vessels" target="_blank">
            Code
        </a>]
        [<a href="https://patents.google.com/patent/CN212637810U/en?oq=CN212637810U" target="_blank">
            PDF
        </a>]
        [<a href="assets/img/placeholder.png" target="_blank">
            View Robot
        </a>]
    </font>
    <br>
    <i>China Patent</i> CN212637810U Mar 2021
    <br>
    <b>Y. Zhuang</b>, W. Zhang, <i>et al</i>.
</p>