<!-- !Sense, Imagine, Act -->
<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Autonomous UAV-based Target Search, Tracking and Following using Reinforcement Learning and 
            YoloFLOW</b>
    </font>
    <br>
    <i>IEEE Robotics and Automation Letters-2020</i>
    <br>
    Ajmera, Y., <b>Singh, S.</b> 
</p>
<table class="projects">
    <tbody>
        <tr><td>
            <div class="project_cell">
                <img src="assets/img/UAV_view.png" width="640" height="360" class="zoom" alt="UAV View">
            </div>
            <div class="project_cell">
                [<a href="assets/videos/SSRR_paper_recording.mp4" target="_blank">
                    Video
                </a>]
                [<a href="https://ieeexplore.ieee.org/abstract/document/9292630" target="_blank">
                    PDF
                </a>]
                <br>
                <p>
                    We developed a UAV-based system for search and rescue missions, integrating reinforcement learning for autonomous navigation and YOLO with Optical Flow for real-time target tracking. This approach enables the UAV to find and follow victims in cluttered environments, ensuring their locations are continually updated for swift evacuation. Extensive simulations demonstrate the system's effectiveness in urban search and rescue scenarios.
                </p>
            </div>
        </td></tr>
    </tbody>
</table>

<!-- !Height Control for Wheeled-Bipedal Robots -->
<p style="font-size:18px;margin-bottom: 0px;">
    <font color="black">
        <b>Height Control and Optimal Torque Planning for Jumping with Wheeled-Bipedal Robots</b>
    </font>
    <br>
    <i>International Conference on Advanced Robotics and Mechatronics</i>. IEEE. 2021
    <br>
    <b>Zhuang, Y.</b>, Xu, Y., ... & Fu, C. 
</p>
<table class="projects">
    <tbody>
        <tr><td>
            <div class="project_cell">
                <link rel="preload" as="image" href="assets/img/placeholder.jpg" media="(max-width: 250px)">
                <img src="assets/img/placeholder.jpg" width="250" class="zoom"
                    onmouseover="this.src='assets/img/placeholder.jpg'" 
                    onmouseout="this.src='assets/img/placeholder.jpg'">
            </div>
            <div class="project_cell">
                <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/silvery107/wheeled-bipedal-jumping?style=plastic&logo=github">
                [<a href="https://github.com/silvery107/wheeled-bipedal-jumping" target="_blank">
                    Code
                </a>]
                [<a href="assets/videos/placeholder.jpg" target="_blank">
                    Video
                </a>]
                [<a href="https://ieeexplore.ieee.org/document/9536196" target="_blank">
                    PDF
                </a>]
                <br>
                <p>
                    We present a wheeled-bipedal jumping dynamical (W-JBD) model to optimize the height control,
                    and the Bayesian optimization for torque planning (BOTP) method based on a joint
                    optimization framework for torque planning to achieve accurate height control and minimal energy
                    cost.
                </p>
            </div>
        </td></tr>
    </tbody>
</table>
